@*@using System.Web.UI.WebControls*@
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/myStyle.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Jura:700" rel="stylesheet">


<body class="panel-gradient">

    @if (Session["Name"] != null)
    {
        <h3>Bem vindo ao sistema</h3>
        <h1>@Session["Name"].ToString() @Session["LastName"].ToString()</h1>
        
        @Html.ActionLink("Cadastro de Acesso", "Index", "Access");
    }
    else
    {
        Html.RenderAction("Login", "Account");
        
        
    }

</body>

    

