@{
    Layout = null;
}

<div class="container" style="text-align:center">
    <div class="row" style="margin-top:10px">
        <h2>DEVMEDIA</h2>
        @if (Session["Nome"] != null)
        {
            <p><h3>Bem vindo ao sistema</h3> <h1>@Session["Name"].ToString()  @Session["LastName"].ToString()</h1></p>
            <p>@Html.ActionLink("Cadastro de Acesso", "Index", "Access")</p>
        }
    </div>
</div>

