body {
      background-color: #f0f0f0;
      font-family: 'Jura', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #313131;
      line-height: 1;
      padding: 5px;

  }

.page-content {
    margin:0 auto;
    margin-top: 40pt;
    padding: 0;
    background-color: #fff;
    opacity: 0.93;
    
}

.font-system {
    font-family: 'Jura', sans-serif;
    font-weight: bold;
}

   
.panel-gradient {
      background: linear-gradient(15deg, rgb(52, 73, 94), rgb(223, 230, 233));
  }

#centro {
    width:100px;
    height:100px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;
}


.row-administrator {
    background: rgb(1,50,67);
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 3;
    align-items: center;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2pt;
}


.center-align {
    position: absolute;
    top: 50%;
    left: 50%;
}


.filterBox {
    border: blue;
    border: 1px;   
}


.header-table {
    background: rgb(99, 110, 114);
    color: white;
    font-size: 13px;
}





.form-login {
    max-width: 450px;
    max-height: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10%;
}
   
.form-login input {
    margin-bottom: 10px;
}
   
.btn {
    display: inline-block;
    padding: 6px 12px;
    border: 2px solid #ddd;
    color: #ddd;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    margin: 15px 5px 0;
    transition: all .2s;
    min-width: 100px;
    text-align: center;
    font-size: 14px;
}
   
.btn:hover, .btn.hover {
    background: #ddd;
    color: #777;
}
   
.btn.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
}
   
.btn.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
}
   
.btn.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    padding: 1px 5px;
    font-size: 12px;
}
   
.btn.primary {
    border-color: #3498db;
    color: #3498db;
}
   
.btn.primary:hover, .btn.primary.hover {
    background: #3498db;
    color: #fff;
}
   
.btn.danger {
    border-color: #e74c3c;
    color: #e74c3c;
}
   
.btn.danger:hover, .btn.danger.hover {
    background: #e74c3c;
    color: #fff;
}
   
.btn.success {
    border-color: #27ae60;
    color: #27ae60;
}
   
.btn.success:hover, .btn.success.hover {
    background: #27ae60;
    color: #fff;
}
   
.btn.warning {
    border-color: #f1c40f;
    color: #f1c40f;
}
   
.btn.warning:hover, .btn.warning.hover {
    background: #f1c40f;
    color: #fff;
}
   
.btn.black {
    border-color: #34495e;
    color: #34495e;
}
   
.btn.black:hover, .btn.black.hover {
    background: #34495e;
    color: #fff;
}
   
.btn.black {
    border-color: #34495e;
    color: #34495e;
}
   
.btn.black:hover, .btn.black.hover {
    background: #34495e;
    color: #fff;
}
   
.btn.info {
    border-color: #5bc0de;
    color: #5bc0de;
}
   
.btn.info:hover, .btn.info.hover {
    background: #5bc0de;
    color: #fff;
}
   
.btn.clear {
    border-color: #777;
    color: #777;
}
   
.btn.clear:hover, .btn.clear.hover {
    background: #777;
    color: #fff;
}
   

footer {

    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    background:#000;
    color: #fff;


}
.footer-text {
    margin: 0 auto;
}